name: BugHunter-VPS-Tmate
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Tmate Session
      uses: mxschmitt/action-tmate@v3
      with:
        limit-access-to-user: false # Allows you to connect without SSH keys

    - name: Keep Alive
      run: |
        echo "VPS is running..."
        while true; do sleep 300; done
